doctype html 
html 
	head 
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/style.css")
		title Maybellin Cometics
	body 
		header
			figure
				img.button(src="IMG/home.png")
			figure
				img.logo(src="IMG/logoMNY.png")
			figure
				img.button(src="IMG/add_shopping_cart.png")
			figure
				img.button(src="IMG/user.png")
		main 
			.side_menu 
			.product
				.product_image
					figure
						img.img_product(src="IMG/imagen.png")
				.product_info
					span
						p Product: 
						p Brand:
						p Price:
					a.boton BUY
		footer
