<!DOCTYPE html >
<html>
  <head> 
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="shortcut icon" href="IMG/computer_23805.ico"/>
    <script src="database.js"></script>
    <title>Maybellin Cometics</title>
  </head>
  <body> 
    <header>
      <figure><a href="url"><img class="home" src="IMG/home.png" alt="Home button"/></a></figure>
      <figure><a href="url"><img class="logo" src="IMG/logoMNY.png" alt="Maybebellin New York logo"/></a></figure>
      <div class="cart_user">
        <figure><a href="url"><img class="cart" src="IMG/add_shopping_cart.png" alt="Shopping cart button"/></a></figure>
        <figure><a href="url"><img class="userID" src="IMG/user.png" alt="User login"/></a></figure>
      </div>
    </header>
  </body>
</html>