doctype html 
html(lang="en")
	include head.pug
	body 
		header
			figure: a(href="url")
				img.home(src="IMG/home.png" alt='Home button')
			figure: a(href="url")
				img.logo(src="IMG/logoMNY.png" alt='Maybebellin New York logo')
			.cart_user
				figure: a(href="url")
					img.cart(src="IMG/add_shopping_cart.png" alt='Shopping cart button')
				figure: a(href="url")
					img.userID(src="IMG/user.png" alt='User login')
		block contents