<!DOCTYPE html >
<html> 
  <head> 
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="db.js"></script>
    <title>Maybellin Cometics</title>
  </head>
  <body> 
    <header>
      <figure><a href="url"><img src="IMG/home.png"/></a></figure>
      <figure><a href="url"><img class="logo" src="IMG/logoMNY.png"/></a></figure>
      <figure><a href="url"><img src="IMG/add_shopping_cart.png"/></a></figure>
      <figure><a href="url"><img src="IMG/user.png"/></a></figure>
    </header>
  </body>
</html>