doctype html 
html(lang="en")
	include head.pug
	body 
		header
			ul.top_nav 
				li.title: a(href="url") Maybelline New York |
				li: a(href="url") Home 
				li(style="float:right"): a(href="url") Cart 
				li(style="float:right"): a(href="url") User
		block contents