head 
	meta(charset="UTF-8")
	meta(name="viewposrt", content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet", href="css/style.css")
	link(rel="shortcut icon", href="IMG/computer_23805.ico")
	script(src="database.js")
	title Maybellin Cometics