-var menu_category_subitems = ["Blush", "Bronzer", "Eyebrow", "Eyeliner", "Eyeshadow", "Foundation", "Lip liner", "Lipstick", "Mascara", "Nail polish"]  
mixin element
	.element
		.product_image
			figure
				img.img_product(src="IMG/Rejuva-Minerals-Multi-Purpose-Powder-Blush-_-Eye-1.jpeg" alt='Product image')
		.product_info
			span
				p Product:
				span.product_name 
				p Brand:
				p Price:
				.boton: a(href="url" alt='Buy button') BUY

doctype html 
html(lang="en")
	include head.pug
	body 
		header
			figure: a(href="url")
				img.home(src="IMG/home.png" alt='Home button')
			figure: a(href="url")
				img.logo(src="IMG/logoMNY.png" alt='Maybebellin New York logo')
			.cart_user
				figure: a(href="url")
					img.cart(src="IMG/add_shopping_cart.png" alt='Shopping cart button')
				figure: a(href="url")
					img.userID(src="IMG/user.png" alt='User login')
		block contents