<!DOCTYPE html >
<html lang="en">
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewposrt" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="shortcut icon" href="IMG/computer_23805.ico"/>
    <script src="database.js"></script>
    <title>Maybellin Cometics</title>
  </head>
  <body> 
    <header>
      <ul class="top_nav"> 
        <li class="title"><a href="url">Maybelline New York |</a></li>
        <li><a href="url">Home </a></li>
        <li style="float:right"><a href="url">Cart </a></li>
        <li style="float:right"><a href="url">User</a></li>
      </ul>
    </header>
  </body>
</html>