<!DOCTYPE html >
<html lang="en">
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewposrt" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style_sp.css"/>
    <link rel="shortcut icon" href="IMG/computer_23805.ico"/>
    <script src="/views/single_product.js"></script>
    <title>Maybellin Cometics</title>
  </head>
  <body> 
    <header>
      <ul class="top_nav"> 
        <li class="title"><a href="url">Maybelline New York |</a></li>
        <li id="darkmode" style="float:right">Darkmode</li>
      </ul>
    </header>
  </body>
</html>