-var menu_category_subitems = ["Blush", "Bronzer", "Eyebrow", "Eyeliner", "Eyeshadow", "Foundation", "Lip liner", "Lipstick", "Mascara", "Nail polish"]  

.side_menu
	ul.side_nav 
		li.side_menu_item: a(href="url") Category
			each subitem in menu_category_subitems 	
				li.side_menu_subitem: a(href="url")=subitem
		li.side_menu_item: a(href="url") Type 
		li.side_menu_item: a(href="url") Brand

		
block contents