<!DOCTYPE html >
<html> 
  <head> 
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="landing.js"></script>
    <title>Maybellin Cometics</title>
  </head>
  <body> 
    <header>
      <figure><a href="url"><img src="IMG/home.png"/></a></figure>
      <figure><a href="url"><img class="logo" src="IMG/logoMNY.png"/></a></figure>
      <div class="cart_user">
        <figure class="cart"><a href="url"><img src="IMG/add_shopping_cart.png"/></a></figure>
        <figure class="userID"><a href="url"><img src="IMG/user.png"/></a></figure>
      </div>
    </header>
    <div class="container main_content">
      <article class="message is_danger">
        <div class="message_body">
          <h1 class="title">error message</h1>
          <h2 class="subtitle">error status</h2>
        </div>
      </article>
    </div>
  </body>
</html>