<!DOCTYPE html >
<html> 
  <head> 
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Maybellin Cometics</title>
  </head>
  <body> 
    <header>
      <figure><a href="url"><img src="IMG/home.png"/></a></figure>
      <figure><a href="url"><img class="logo" src="IMG/logoMNY.png"/></a></figure>
      <figure><a href="url"><img src="IMG/add_shopping_cart.png"/></a></figure>
      <figure><a href="url"><img src="IMG/user.png"/></a></figure>
    </header>
    <main> 
      <div class="side_menu"> 
        <dl>
          <dt class="side_menu_item"><a href="url">Category
              <dd class="side_menu_subitem"><a href="url"> Blush </a></dd>
              <dd class="side_menu_subitem"><a href="url"> Bronzer </a></dd>
              <dd class="side_menu_subitem"><a href="url"> Eyebrow </a></dd>
              <dd class="side_menu_subitem"><a href="url"> Eyeliner </a></dd>
              <dd class="side_menu_subitem"><a href="url"> Eyeshadow </a></dd>
              <dd class="side_menu_subitem"><a href="url"> Foundation </a></dd>
              <dd class="side_menu_subitem"><a href="url"> Lip Liner </a></dd>
              <dd class="side_menu_subitem"><a href="url"> Lipstick </a></dd>
              <dd class="side_menu_subitem"><a href="url"> Mascara </a></dd>
              <dd class="side_menu_subitem"><a href="url"> Nail polish</a></dd></a></dt>
          <dt class="side_menu_item"><a href="url">Type </a></dt>
          <dt class="side_menu_item"><a href="url">Brand</a></dt>
        </dl>
      </div>
      <div class="element">
        <div class="product_image">
          <figure><img class="img_product" src="IMG/Rejuva-Minerals-Multi-Purpose-Powder-Blush-_-Eye-1.jpeg"/></figure>
        </div>
        <div class="product_info"><span>
            <p>Product: Lorem Ipsum</p>
            <p>Brand: Rerum sapiente consequatur</p>
            <p>Price: $$$$</p></span><a class="boton">BUY</a></div>
      </div>
    </main>
    <footer><span> 
        <p>Created by Platzi Masters C7</p></span></footer>
  </body>
</html>