-var menu_category_subitems = ["Blush", "Bronzer", "Eyebrow", "Eyeliner", "Eyeshadow", "Foundation", "Lip liner", "Lipstick", "Mascara", "Nail polish"]  
mixin element
	.element(name,brand,price)
				.product_image
					figure
						img.img_product(src="IMG/Rejuva-Minerals-Multi-Purpose-Powder-Blush-_-Eye-1.jpeg")
				.product_info
					span
						p Product: 
						p Brand:
						p Price:
					.boton: a(href="url") BUY

doctype html 
html 
	include components/head.pug
	body 
		header
			figure: a(href="url")
				img(src="IMG/home.png")
			figure: a(href="url")
				img.logo(src="IMG/logoMNY.png")
			figure: a(href="url")
				img(src="IMG/add_shopping_cart.png")
			figure: a(href="url")
				img(src="IMG/user.png")
		main 
			.side_menu
				dl 
					dt.side_menu_item: a(href="url") Category
						each subitem in menu_category_subitems 	
							dd.side_menu_subitem: a(href="url")=subitem
					dt.side_menu_item: a(href="url") Type 
					dt.side_menu_item: a(href="url") Brand
			.content 
				+element
				+element
				+element
				+element
		footer
			span 
				p Created by Platzi Masters C7 💚
