<!DOCTYPE html >
<html lang="en">
  <head> 
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="shortcut icon" href="IMG/computer_23805.ico"/>
    <script src="database.js"></script>
    <title>Maybellin Cometics</title>
  </head>
  <body> 
    <header>
      <figure><a href="url"><img class="home" src="IMG/home.png" alt="Home button"/></a></figure>
      <figure><a href="url"><img class="logo" src="IMG/logoMNY.png" alt="Maybebellin New York logo"/></a></figure>
      <div class="cart_user">
        <figure><a href="url"><img class="cart" src="IMG/add_shopping_cart.png" alt="Shopping cart button"/></a></figure>
        <figure><a href="url"><img class="userID" src="IMG/user.png" alt="User login"/></a></figure>
      </div>
    </header>
    <main> 
      <div class="side_menu">
        <dl> 
          <dt class="side_menu_item"><a href="url">Category
              <dd class="side_menu_subitem"><a href="url">Blush</a></dd>
              <dd class="side_menu_subitem"><a href="url">Bronzer</a></dd>
              <dd class="side_menu_subitem"><a href="url">Eyebrow</a></dd>
              <dd class="side_menu_subitem"><a href="url">Eyeliner</a></dd>
              <dd class="side_menu_subitem"><a href="url">Eyeshadow</a></dd>
              <dd class="side_menu_subitem"><a href="url">Foundation</a></dd>
              <dd class="side_menu_subitem"><a href="url">Lip liner</a></dd>
              <dd class="side_menu_subitem"><a href="url">Lipstick</a></dd>
              <dd class="side_menu_subitem"><a href="url">Mascara</a></dd>
              <dd class="side_menu_subitem"><a href="url">Nail polish</a></dd></a></dt>
          <dt class="side_menu_item"><a href="url">Type </a></dt>
          <dt class="side_menu_item"><a href="url">Brand</a></dt>
        </dl>
      </div>
      <div id="container"> </div>
    </main>
    <footer>
      <p class="footer">Created by Platzi Masters C7 💚 </p><br/>
      <p class="notion"><a href="https://www.notion.so/Maybellin-Cometics-P1-C7-3d262f0014de4cca84093bf38d99d462">Notion notes</a></p>
    </footer>
  </body>
</html>