<!DOCTYPE html >
<html lang="en">
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewposrt" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="shortcut icon" href="IMG/computer_23805.ico"/>
    <script src="database.js"></script>
    <title>Maybellin Cometics</title>
  </head>
  <body> 
    <header>
      <ul class="top_nav"> 
        <li class="title"><a href="url">Maybelline New York |</a></li>
        <li><a href="url">Home </a></li>
        <li style="float:right"><a href="url">Cart </a></li>
        <li style="float:right"><a href="url">User</a></li>
      </ul>
    </header>
    <main> 
      <div class="side_menu">
        <ul class="side_nav"> 
          <li class="side_menu_item"><a href="url">Category
              <li class="side_menu_subitem"><a href="url">Blush</a></li>
              <li class="side_menu_subitem"><a href="url">Bronzer</a></li>
              <li class="side_menu_subitem"><a href="url">Eyebrow</a></li>
              <li class="side_menu_subitem"><a href="url">Eyeliner</a></li>
              <li class="side_menu_subitem"><a href="url">Eyeshadow</a></li>
              <li class="side_menu_subitem"><a href="url">Foundation</a></li>
              <li class="side_menu_subitem"><a href="url">Lip liner</a></li>
              <li class="side_menu_subitem"><a href="url">Lipstick</a></li>
              <li class="side_menu_subitem"><a href="url">Mascara</a></li>
              <li class="side_menu_subitem"><a href="url">Nail polish</a></li></a></li>
          <li class="side_menu_item"><a href="url">Type </a></li>
          <li class="side_menu_item"><a href="url">Brand</a></li>
        </ul>
      </div>
      <div id="container"> </div>
    </main>
    <footer><span class="footer">Created by Platzi Masters C7 💚 </span><br/><span class="notion"><a href="https://www.notion.so/Maybellin-Cometics-P1-C7-3d262f0014de4cca84093bf38d99d462">Notion notes 📋</a></span></footer>
  </body>
</html>