extend components/header_sp.pug 
block contents
		main 
			//- include components/side_nav.pug
			#container
		script 
			|var today = new Date();
			|var time = today.getHours();
			|if(today <= 20){
			|	document.body.classList.toggle("dark_theme");
			|}else{
			|	
			|}
			|var darkmode = document.getElementById("darkmode");
			|darkmode.onclick = function(){
			|document.body.classList.toggle("dark_theme");
			|}
		include components/footer.pug