extend components/header_sp.pug 
block contents
		main 
			//- include components/side_nav.pug
			#container
			.center 
				.pages 
					a(href="") 1
					a(href="/views/components/pages/landing02.html") 2
					a(href="url") 3
					a(href="url") 4
					a(href="url") 5
					a(href="url") 6
					a(href="url") 7
					a(href="url") 8
					a(href="url") 9
					a(href="url") 10
		script 
			|var today = new Date();
			|var time = today.getHours();
			|if(today < 20){
			|	document.body.classList.toggle("dark_theme");
			|}else{
			|	
			|}
			|var darkmode = document.getElementById("darkmode");
			|darkmode.onclick = function(){
			|document.body.classList.toggle("dark_theme");
			|}
		include components/footer.pug