doctype html 
html(lang="en")
	head 
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="Maybellin makeup catalogue with multi brand links to all the products")
		link(rel="stylesheet", href="../css/style.css")
		link(rel="shortcut icon", href="/views/IMG/computer_23805.ico")
		script(src="../js/database08.js")
		title Maybellin Cometics
	body 
		header
			ul.top_nav 
				li.title: a(href="../landing.html") Maybelline New York |
				li#darkmode(style="float:right") Darkmode
		main 
			#container
			.center 
				.pages 
					button.btn: a(href="landing.html") 1
					button.btn: a(href="/views/pages/landing02.html") 2
					button.btn: a(href="/views/pages/landing03.html") 3
					button.btn: a(href="/views/pages/landing04.html") 4
					button.btn: a(href="/views/pages/landing05.html") 5
					button.btn: a(href="/views/pages/landing06.html") 6
					button.btn: a(href="/views/pages/landing07.html") 7
					button.btn.active: a(href="/views/pages/landing08.html") 8
					button.btn: a(href="/views/pages/landing09.html") 9
					button.btn: a(href="/views/pages/landing10.html") 10
					button.btn: a(href="/views/pages/landing11.html") &raquo;
		script 
			|var today = new Date();
			|var time = today.getHours();
			|if(today < 20){
			|	document.body.classList.toggle("dark_theme");
			|}else{
			|	
			|}
			|var darkmode = document.getElementById("darkmode");
			|darkmode.onclick = function(){
			|document.body.classList.toggle("dark_theme");
			|}
		include ../components/footer.pug