<!DOCTYPE html >
<html lang="en">
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Maybellin makeup catalogue with multi brand links to all the products"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="shortcut icon" href="/views/IMG/computer_23805.ico"/>
    <script src="../js/database09.js"></script>
    <title>Maybellin Cometics</title>
  </head>
  <body> 
    <header>
      <ul class="top_nav"> 
        <li class="title"><a href="../landing.html">Maybelline New York |</a></li>
        <li id="darkmode" style="float:right">Darkmode</li>
      </ul>
    </header>
    <main> 
      <div id="container"></div>
      <div class="center"> 
        <div class="pages"> 
          <button class="btn"><a href="landing.html">1</a></button>
          <button class="btn"><a href="/views/pages/landing02.html">2</a></button>
          <button class="btn"><a href="/views/pages/landing03.html">3</a></button>
          <button class="btn"><a href="/views/pages/landing04.html">4</a></button>
          <button class="btn"><a href="/views/pages/landing05.html">5</a></button>
          <button class="btn"><a href="/views/pages/landing06.html">6</a></button>
          <button class="btn"><a href="/views/pages/landing07.html">7</a></button>
          <button class="btn"><a href="/views/pages/landing08.html">8</a></button>
          <button class="btn active"><a href="/views/pages/landing09.html">9</a></button>
          <button class="btn"><a href="/views/pages/landing10.html">10</a></button>
          <button class="btn"><a href="/views/pages/landing11.html">&raquo;</a></button>
        </div>
      </div>
    </main>
    <script>
       var today = new Date();
      var time = today.getHours();
      if(today < 20){
      	document.body.classList.toggle("dark_theme");
      }else{
      	
      }
      var darkmode = document.getElementById("darkmode");
      darkmode.onclick = function(){
      document.body.classList.toggle("dark_theme");
      }
    </script>
    <footer>
      <div class="footer">Created by Platzi Masters C7 💚 </div>
      <div class="notion"><a href="https://www.notion.so/Maybellin-Cometics-P1-C7-3d262f0014de4cca84093bf38d99d462">Notion notes 📋</a></div>
    </footer>
  </body>
</html>